<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <h1>Login</h1>
    <form (click)="onSubmit()"> 
  <br>    <input type="text" placeholder="Enter username">
      <input type="password" placeholder="Password">
      <!-- <p class="recover">
        <a href="#">Recover Password</a> -->
      <!-- </p> -->
    </form>
    <button>LOG IN</button>
</div>
</body>
</html>